*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Layout */

.container{
    width: 60%;
    margin: 0 auto;
}

.row{
    display: flex;
    padding: 20px;
}

.col-10{
    width: 10%;
}

.col-20{
    width: 20%;
}

.col-30{
    width: 30%;
}

.col-60{
    width: 60%;
}

.col-70{
    width: 70%;
}

.col-100{
    width: 100%;
}

/* Debug */
.debug .col{
    min-height: 200px;
}

/* Stili Generali */

.main-header{
    background-color: #F1C5A8;
}
.col{
    text-align: center;
    border: 2px dotted black;
}

.bg__pink{
    background-color: #EDBACD; ;
}

.bg__lightviolet{
    background-color: #D9B3CF;
}

.bg__lightviolet .container .row{
    justify-content: center;
}

.bg__blue{
    background-color: #A7BEDD;
}

.bg__green{
    background-color: #ABD2C3;
}

.bg__lightgreen{
    background-color: #E2E9BD;
}

.bg__lightgreen .container .row{
    flex-direction: row-reverse;
}

.bg__yellow{
    background-color: #F2E5B5;
}

.bg__lightbrown{
    background-color:#A4825D;
}

.bg__beige{
    background-color: #CCBC9E;
}






